body {
  margin: 0;
  font-family: 'Courier New',
  monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-linear-gradient(left, rgb(107, 107, 216) 0%,  rgb(189, 8, 186) 100%);	
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.section-input {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.section-input .input {
  border-radius: 6px;
  position: relative;
  margin: 10px;
  padding: .7rem;
  font-size: 20px;
  background: none;
  border: none;
  outline: none;
}
/* .section-input .input:hover {
  background: black;
  color: #fff;
} */

.section-input label {
  color: #000;
  font-weight: bold;
  padding: 0 5px;
}

@media only screen and (max-width: 800px) {
  button {
    padding: 8px !important;
  }
}